{% extends 'directory/base.html' %}
{% block content %}
<h1>Login</h1>
{{data}}

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
       {{user.emai}}
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
		   <div class="form-group">
		        <form method="post" action=".">
		                {% csrf_token %}
		                {{ form.as_p }}

		                <input class="btn btn-default" type="submit" value="Log in" />
		                <input type="hidden" name="next" value="{{ next }}" />
		                </form>

		        <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>

		 <div>
		 
   
   
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}