{% extends 'directory/base.html' %}
{% block content %}

{{form}}
<div class="indexcontainer">	
	<h1> Add a new Page</h1>
	<div>
	<form id="page_form", method="POST", action="/directory/person/{{person.slug}}/add_page/">
	{%csrf_token%}
	{%for hidden in form.hidden_fields%}
		{{hidden}}
	{% endfor %}
	{% for field in form.visible_fields %}
		{{field.errors}}
		{{field.help_text}}
		{{field}}<br></br>
	{% endfor %}
	<input type="submit" class="btn btn-info" name="submit" value="Create Page"/>
	</form>
</div>
{% endblock %}