<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>

		<title>Directory</title>
		<!-- CSSs -->
		  <link rel="shortcut icon" href="http://designm.ag/favicon.ico">

  		
 		 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
 		 <script type="text/javascript" src="{% static 'js/selectize.min.js'%}"></script>
 		 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.js"></script>
		<link rel="stylesheet" href="{% static 'css/selectize.css'%}">
		<link rel="stylesheet" href="{% static 'css/directory.css'%}"/>
		<link rel="stylesheet" type="text/css" media="all" href="{%static 'css/selectize.css'%}">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>

	<body>
		<div class="indexcontainer">
			<h1> Friend Directory </h1>
			<hr>
			


			<h4> My Friends</h4>
			{% if Friends %}
			<ul><select id="select-name" placeholder="Select a person..." >
				{% for person in Friends %}
				<option value="{{person.slug}}">{{person.name}}
				{% endfor %}</select>
				<form role="form" id="contacts">
                <input type="submit" value="Submit" class="btn btn-info btn-block"></form>
			</ul>
			{% else%}
				<strong> There are no friends in my list. </strong>
			{% endif %}
			<div class="addbutton">	
				<br>
				<a href="/directory/add_person" class="btn btn-info" role="button">Add Person</a>
				</br>
			</div>
		</div>
		<hr>
<script>

$(function() {
    $('#select-name').selectize({    create:true, plugins: ['remove_button']
});

  $('#contacts').submit(function(e){
    e.preventDefault();

 window.location.href = "/directory/person/"+ (encodeURIComponent(JSON.stringify($('#select-name').val()))).replace(/%5B/g, '').replace(/%5D/g, '').replace(/^"/, '').replace(/"$/, '');
   
  });
});</script>
	</body>
</html>

