<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
		<title>Directory</title>
		<!-- CSSs -->
		<link rel="stylesheet" href="{% static 'css/directory.css'%}"/>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
<body>
<div class="indexcontainer">
	<h1>{{p1.title}}</h1>
	Description:
	<p>{{p1.description}}
	
	<br>
	<br>
	</br>
	<a href="{{p1.id}}/delete" class="btn btn-info" role="button">Delete</a>
	<a href="/directory/" class="btn btn-default" role="button">Index</a>
</div>

</body>
</html>