{% extends 'directory/base.html' %}
{% block content %}
{{category}}
{{category.name}}

<div class="indexcontainer">	
	<h1> Add a new Page</h1>
	<form class="form-horizontal", id="page_form", method="POST", action="/directory/{{user.username}}/person/{{person.slug}}/category/{{category.categoryid}}">
		<div class="form-group">
			<div class="addpageform">
				<div class="row">
					<div class="col-sm-12 col-md-6  col-lg-6 ">
						{%csrf_token%}
						{%for hidden in form.hidden_fields%}
							{{hidden}}
						{% endfor %}
						{% for field in form.visible_fields %}
						
							{{field.errors}}
							{{field.help_text}}
							{{field}}
						{% endfor %}
							<div class="addpagebutton">
								<input type="submit" class="btn btn-info" name="submit" value="Create Page"/>
								<a href="/directory/" class="btn btn-default" role="button">Index</a>
								<a href="/directory/{{user.username}}/person/{{person.slug}}" class="btn btn-primary" role="button">Return</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}