.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;}

body {
	background-image: url("../images/bg.png");
	background-height: 100%;
	background-repeat: no-repeat;
}
.update{
	width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indexcontainer{
	background-color: rgba(255, 255, 255, 0.52);
	border-radius:5px;
	padding: 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 50px;
	vertical-align: middle;
	}

.addbutton{
	text-align: center;
	align-content: center;
	margin-top: 30px;
}

.friendlist{
	font-size: 14px;
}

 /*Add Page Stlying */
#id_title.form-control{
	margin-bottom: 20px;
}
.addpageform{
	margin-top: 20px;
	margin-left: 10px;
	margin-right:10px;
}

.addpagebutton{
	margin-top: 20px;
}


@media only screen and (max-device-width: 600px) {


h1 {
	font-size: 90px;
}

body {
	background-image: None;
	background-color: #acc5f1;;
}
#internalActivities{ font-size: 50px; }
#hide {
	display:none;
}
.updatecontainer{
	font-size: 50px;
}
th.hide{
	display:None;
}
.date{
	display: None;
}
.form-control{
	font-size: 60px;
	height: 100px;
}
.selectize-input {
	margin-top: 60px;
	height:40px;
	vertical-align: middle;
	font-size: 20px;
	border: 1px solid #d0d0d0;
	padding: 8px 8px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.a {line-height: 0px;}
.row{margin-right:0px;}
.navbar-nav>li>a {border-radius: 0px;
	line-height: 50px;}
.navbar-nav {
	border-radius: 0px;
    font-size: 50px;
    margin-top: 10px;
    line-height: 0px;
}
.navbar-brand{
	margin-top: 20px;
	font-size: 50px;
	border-radius: 0px;
}
.navbar-default{
	height: 100px;
	border-radius: 0px;
}
.selectize-input{font-size: 50px;
    height: 70px;
    line-height: 50px;}
.btn-info{
	height: 100px;
    font-size: 50px;
    margin-top: 30px;
	border-radius: 10px;
	margin:5px;
	}
.btn-default{
	height: 100px;
    font-size: 50px;
    margin-top: 30px;
	border-radius: 10px;
	margin:5px;
	}
.btn-primary{
	height: 100px;
    font-size: 50px;
    margin-top: 30px;
	border-radius: 10px;
	margin:5px;
	}
.btn-success{
	height: 100px;
    font-size: 50px;
    margin-top: 30px;
	border-radius: 10px;
	margin:5px;
}







ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

